<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPG Game: Avatar Inventory List</title>
    {% block extra_head %}{% endblock %}

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous"
        />
</head>
<body>
    <header>
        <h1>Avatar's inventory:</h1>
        <nav>
            <!-- Your navigation elements -->
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Specific content of each page -->
        {% endblock %}
    </main>

    <footer>
        <!-- Your footer -->
    </footer>

</body>
</html>
